@import './variable.scss';

.ant-layout {
  background: #fff !important;
}

.home-layout {

  main {
    margin-top: 64px;
    background: #000;

    .all-layout-content {
      min-height: calc(100vh - 134px);
      background: $-main-bgColor;
      margin: 0 auto;
      width: 90%;
      padding: 10px 20px !important;
      max-width: 1200px;
      border-radius: 10px;
    }
  }

  .ant-layout-footer {
    background: transparent;
  }
}


//媒体查询
@media only screen and (min-width: 993px) {
  .all-layout-content {
    width: 90%;
    max-width: 1120px;
  }
}

.icon-common {
  font-size: 18px;
}