@font-face {
  font-family: "iconfont"; /* Project id 3273130 */
  src: url('iconfont.woff2?t=1648101986246') format('woff2'),
       url('iconfont.woff?t=1648101986246') format('woff'),
       url('iconfont.ttf?t=1648101986246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e601";
}

.icon-gerenzhongxin:before {
  content: "\e8e9";
}

.icon-neirongguanli:before {
  content: "\e814";
}

.icon-bokeyuan:before {
  content: "\e603";
}

.icon-boke:before {
  content: "\e613";
}

.icon-xieboke:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e602";
}

