@font-face {
  font-family: "iconfont";
  /* Project id 3273130 */
  src: url('iconfont.woff2?t=1648088443538') format('woff2'),
    url('iconfont.woff?t=1648088443538') format('woff'),
    url('iconfont.ttf?t=1648088443538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bokeyuan:before {
  content: "\e603";
}

.icon-boke:before {
  content: "\e613";
}

.icon-xieboke:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e602";
}