@import '../../../Styles/variable.scss';

.ant-layout-header {
  position: fixed;
  top: 0;
  width: 100;
}

.header-layout {
  display: flex;
  align-items: center;

  .logo {
    background-image: url('../../../assets/imgs/logo.png');
    width: 88px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .menu-content {
    flex: 1;
  }
}