@import '../../../Styles/variable.scss';

.ant-layout-header {}

.header-layout {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;

  .logo {
    background-image: url('../../../assets/imgs/logo.png');
    width: 88px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .menu-content {
    flex: 1;

    .ant-menu {
      border-bottom: none;
    }

    .content {
      display: flex;
      align-items: center;

      span {
        margin-left: 4px;
      }
    }

    .product-center {
      margin-left: 20px;
      font-size: 28px;
    }
  }

  .user-info {
    margin-right: 20px;
  }
}